/*#1dbba5*/
body {
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}

.file-list {
	max-width: 600px;
	margin: 50px auto;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.file-list-header {
	background-color: #fff;
  color: #fff;
  padding: 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 5px solid #1dbba5;
  color: #1dbba5;
  }

.file-list ul {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
}

.file-list li {
	position: relative;
	padding: 20px;
	border-bottom: 1px solid #eee;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.file-list li:last-child {
	border-bottom: none;
}

.file-list .not-found {
	padding: 20px 0px;
	font-size: 20px;
	font-weight: bold;
}

.loading-message {
  color: #3498db;
  margin-top: 10px;
}

.file-name {
	font-weight: bold;
}

.file-actions {
	display: flex;
	gap: 10px;
}

.menu-btn {
	background-color: #1dbba5;
	color: #fff;
	padding: 8px 12px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.menu-btn:hover {
	background-color: #1e9584;
}

.logout-btn {
	float: right;
  padding: 4px 6px;
  margin: 15px;
  color: #ffff;
  background-color: red;
  border: 2px solid red;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
	background-color: #f0f0f0;
	color: red;
}

.edit-btn {
 	 background-color: #3498db;
 	 color: #fff;
 	 padding: 8px;
 	 border: none;
 	 border-radius: 4px;
 	 cursor: pointer;
}

.upload-btn {
	float: right;
	margin: 20px;
	background-color: #3498db;
	color: #fff;
	padding: 8px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.edit-btn:hover, .upload-btn:hover {
  background-color: #2980b9;
}


/*
screen width: 610px
right: 20px;
top: 50px
*/
.dropdown-options {
	display: flex;
  flex-direction: column;
  position: absolute;
  right: -70px;
  top: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

@media (max-width: 710px) {
	.dropdown-options {
		right: 20px;
		top: 50px;
	}
}

.dropdown-options div {
	padding: 8px;
  cursor: pointer;
}

.dropdown-options div:hover {
 	 background-color: #f0f0f0;
}

.upload-popup {
	position: sticky;
	bottom: 50%;
	width: fit-content;
	padding: 60px 20px;
	background-color: white;
	margin: auto;
	z-index: 10;
	border-radius: 10px;
	text-align: start;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.dark-background {
	display: block;
	background-color: #000000c2;
	padding: 100px;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	z-index: 1;
	backdrop-filter: blur(5px);
}

.visible {
	display: flex;
}

.upload-popup form  input[type='file'] {
	margin: 20px 0px;
	border: solid 3px #1dbba5;
  padding: 3px;
}

.upload-popup form label:first-child {
	font-size: 25px;
	font-weight: bold;
}

.upload-popup form label {
	margin-left: 5px;
	user-select: none;
}

.upload-popup form .upload-btn {
	background-color: #1dbba5;
}

.upload-popup form .upload-btn:hover {
	background-color: #119785;
}

.response-message {
	width: fit-content;
	margin: auto;
	transform: translateY(50px);
	padding: 5px 10px;
  border: #1dbba5 solid 3px;
  border-radius: 5px;
}