textarea {
	position: fixed;
	left: 5px;
	min-width: 100%;
	max-width: 100%;
	min-height: 70%;
	max-height: 70%;
	outline: none;
	border: none;
	cursor: unset;
	font-weight: bold;
	border: 1px solid #000;
}

ul {
	list-style: none;
}

.options-container {
	display: flex;
	justify-content: space-between;
	text-align: start;
	margin: 15px;
}

.arrow-button {
	padding: 0px 30px;
	font-size: 30px;
	font-weight: bold;
	color: white;
	cursor: pointer;
	background-color: #1dbba5;
	border: none;
	border-radius: 5px;
}

.arrow-button:hover {
	background-color: #1e9584;
}

.loading-message {
	color: #3498db;
	margin-top: 10px;
}

.error-message {
	color: red;
	margin-top: 10px;
}

.menu-container {
	padding: 10px;
	cursor: pointer;
}

.menu-container .circles {
	padding: 6px;
	border-radius: 30px;
	background-color: #1dbba5;
	margin: 0px 3px;
	transition: .2s;
}

.menu-container:hover .circles {
	background-color: #1e9584;
}

.menu-container div:active .circles {
	background-color: #063932;
}

.menu-container div {
	display: flex;
}

.menu-container .options {
	position: fixed;
	right: 15px;
	background-color: #fff;
	border: 1px solid #ddd;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 2;
	border-radius: 4px;
}

.menu-container .options li {
	margin: 8px 0px;
	padding: 5px;
	margin: 5px 0px;
	transition: .1s;
}

.menu-container .options li:last-child {
	border-top: 1px white solid;
}

.menu-container .options li:hover {
	background-color: #119785;
	color: #fff;
}

.options-container .responseMessage {
	align-self: center;
	padding: 5px 10px;
  	border: #1dbba5 solid 3px;
  	border-radius: 5px;
}
